@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf") format("ttf");
}

body {
  font-family: "Roboto Slab", serif;
}

h1, h2, h4, h4, h5 {
  text-align: center;
  margin: 0;
  padding: 0;
}


ul {
  list-style-type: none;
  margin: auto;
  padding-left: 0px;
}

body {
  background-color: #EFEFEF;
}

audio {
  margin: 0;
}

a:link {
  color: #DD7070
}
a:visited{
  color: #AA5050
}

.button {
  padding: 0.3em;
  margin: 1em 1em;
  border-radius: 0;
  background-color: #9C73CF;
  display: block;
  border: 1em;
}

.button:visited {
  background-color: #703EAE;
}

.button:hover {
  background-color: #9D85BD;
}

a.button {
  text-decoration: none;
  color: #FFFFFF;
  border: 0.1em solid black;
  border-top-color: #FFFFFF;
  border-left-color: #FFFFFF;
  border-right-color: #000000;
  border-bottom-color: #000000;
}

.button-hole {
  text-align: center;
}

.gif-hole {
  margin-top: 1em;
  text-align: center;
}

.footer-links {
  text-align: center;
}

div.track-hole {
  display: block;
  padding: 0.3em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
}

div.track-hole > iframe {
  border: 0; width: 95%; height: 42px;
}

.web-site-hole {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 1em;
  background-color: #221122;
  padding: 1em;
  color: #FFFFFF;
}

@media only screen and (max-width: 1200px) {
  .web-site-hole {
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media only screen and (max-width: 700px) {
  .web-site-hole {
    margin-left: 5%;
    margin-right: 5%;
  }
}
