

/* Custom player style */
midi-player {
  width: inherit;
  margin: 4px;
  margin-bottom: 0;
  display: block;
}
midi-player::part(control-panel) {
  background: #1B181C;
  border: none;
  border-radius: 1em;
  opacity: 100%;
}
midi-player::part(play-button) {
  color: #FFFFFF;
  border: none;
  background-color: none;
  transition: all 0.2s;
  content: 'hello';
}
midi-player::part(play-button):hover {
  color: #EFEFEF;
  background-color: #5f5;
  border-radius: 10px;
}
midi-player::part(time) {
  font-family: sans-serif;
  color: #FFFFFF;
  border: none;
}
