.snow, .winter-is-coming {
  z-index: 100;
  pointer-events: none;
}

.winter-is-coming {
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 120%;
  width: 100%;
  max-width: 100%;
}

.snow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: falling linear infinite both;
          animation: falling linear infinite both;
  transform: translate3D(0, -100%, 0);
}

.snow--mid {
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  background-image: url("../images/snow-bg.png");
  background-size: contain;
  opacity: 60%
}
.snow--mid + .snow--alt {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
.snow--far {
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  background-image: url("../images/snow-bg-far.png");
  background-size: contain;
  opacity: 30%;
}
.snow--far + .snow--alt {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

@-webkit-keyframes falling {
  0% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0, 100%);
  }
}

@keyframes falling {
  0% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0, 100%);
  }
}
